body {
    background-color : #525659
}

#document-page{
    width: 794px;
    min-height: 1123px;
    margin : 20px auto;
    padding : 50px; 
    background-color : white;
    box-shadow : 0 0 10px rgba(0,0,0,0.3);
    box-sizing : border-box;
    font-family : "Liberation Serif, Times, serif";
    line-height : 1.5;
    color : #000;
    display: flex;
    flex-direction: column;
}


#interface{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-items: center;
}

#document-header{
    flex-basis: 8%;
    border: none;
    outline:none;
    text-align: center;
    resize: none;
}

#document-text-area{
    flex-grow: 1;
    resize: none;
    font-size: 12pt;
}

#document-footer{
    flex-basis: 8%;
    border: none;
    outline:none;
    text-align: right;
    resize: none;
    
}
#main-menu-container{
background-color: #525659;
display: flex;
justify-content: flex-start;
flex-direction: column;
max-width: 200px;
width: 2000px;
min-width: 200px;

}

.menu-heading{
     background-color: #d2d4d5;
  
  border: 0;
  border-radius: 5px;
  color: #000000;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  outline: 0;
  padding: 5px 5px;
  transition: all .8s;
  user-select: none;
  display: flex;
  justify-content: space-evenly;
 
}

.menu-content{
 background-color: #d2d4d5;
  border: 0;
  border-radius: 5px;
  color: #000000;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  outline: 0;
  padding: 5px 5px;
  transition: all .8s;
  user-select: none;
  display: flex;
  justify-content: space-evenly;
 
}

.menu-button{
  font-size: 18px;
  padding: 0px 15px
}

.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

.button-71:disabled {
  background-color: #787878;
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1);
}

.button-71.is-selected {
  background-color: #6a0087;
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
}